* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    background-color: #F15B22;
    padding: 20px 25px;
    border: none;
}
.sec-margin{
    margin: 130px 130px 0;
}
/* banner section style */
header {
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  padding: 200px 150px 160px 745px;
  text-align: right;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  line-height: 70px;
  margin-bottom: 15px;
}
.banner-description {
  color: #444343;
  line-height: 20px;
}
.banner .btn-primary{
    margin-top: 30px;
}
/* failer section styles
.failure-section{

} */
.section-items{
    display: flex;
    align-items: center;
    gap: 90px;
    
}
.option li{
    list-style: none;
    padding-top: 8px;

}
.option li i{
    color: #16D887;

}
.option ul{
    color: #444343;
    margin-top: 10px;
}
.failure-section .banner-title{
    font-size: 40px;
    line-height: 47px;
    
}
.failure-section .banner-description{
    margin-top: 24px;
    
}
.failure-image img{
    height: 700px;
}
/* plan styles */
.myplan{
    text-align: center;
}
.plan-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
    
}
.plan{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.items{
    background-color: #f5f5f5;
}
.items .banner-title{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.items .banner-description{
    font-weight: 500;
}
/* mind set section */
.mindset{
    background-image: linear-gradient(90deg,rgba(241, 91, 34,1),rgba(255, 255, 255,0)), url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.mindset .banner-title{
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
}
.mindset-items{
    padding-left: 64px;
    padding-right: 500px;
    padding-bottom: 60px;
    padding-top:60px
}
.mindset-items button{
    color: #f15b22;
    background-color: #ffffff;
}
/* project section design */
.project-plan{
    display: flex;
    gap: 100px;
}
.section-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.project-item img{
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 30px;
}
.project-item .title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.project-item .description{
    color: #444343;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.project-item{
    
    
    
}
.project-info{
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0,0.2);
}
/* footer section */
footer{
    background-color: #151414;
    margin-top: 130px;
    padding: 130px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 300px;
}
.future .banner-title{
    color: #f8f8f8;
    font-size: 45px;

}
.future-description{
    margin-top: 10px;
    color: #ffffff;
    line-height: 25px;
}
.future-email{
 margin-top: 24px;
 color: #ffffff;
}
.future-phone{
    margin-top: 24px;
    color: #ffffff;
}
.icon{
    margin-top: 30px;
}
.icon a{
    text-decoration: none;
    margin-right: 20px;
}
.subscribe .banner-title{
    font-size: 25px;
    font-weight: 600;
    color: #f8f8f8;
}
.subscribe input{
    font-size: 18px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 150px;
    background-color: #151414;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
}
.subscribe .btn-primary{
    color: #F15B22;
    background-color: #ffffff;
    padding: 20px 35px;
}
/* Done */