* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    background-color: #F15B22;
    padding: 20px 25px;
    border: none;
}
.sec-margin{
    margin: 130px 130px 0;
}
/* banner section style */
header {
  background-image: url("../images/banner/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  padding: 200px 150px 160px 745px;
  text-align: right;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  line-height: 70px;
  margin-bottom: 15px;
}
.banner-description {
  color: #444343;
  line-height: 20px;
}
.banner .btn-primary{
    margin-top: 30px;
}
/* failer section styles */
.failure-section{

}
.section-items{
    display: flex;
    align-items: center;
    gap: 90px;
    
}
.option li{
    list-style: none;
    padding-top: 8px;

}
.option li i{
    color: #16D887;

}
.option ul{
    color: #444343;
    margin-top: 10px;
}
.failure-section .banner-title{
    font-size: 40px;
    line-height: 47px;
    
}
.failure-section .banner-description{
    margin-top: 24px;
    
}
.failure-image img{
    height: 700px;
}